<!-- <h1> Bananen </h1>

<div *ngFor="let car of cars" >
    <h1> <a href="https://youtu.be/0o9bmY5qzNQ?t=94">{{car.brand}} uit {{car.buildYear}}</a></h1>
</div> -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Feedback overzicht</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item active">Home</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- /.row -->
        <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <!-- <h3 class="card-title">Feedback overzicht</h3> -->
  
                  <div class="card-tools">
                    <!-- <div class="input-group input-group-sm" style="width: 150px;">
                      <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
  
                      <div class="input-group-append">
                        <button type="submit" class="btn btn-default">
                          <i class="fas fa-search"></i>
                        </button>
                      </div>
                    </div> -->
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>Datum</th>
                            <th>Vak</th>
                            <th>Docent</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr data-widget="expandable-table" aria-expanded="false">
                            <td>08-11-2021</td>
                            <td>Mentorgesprek</td>
                            <td>Mentor X</td>
                          </tr>
                          <tr class="expandable-body d-none">
                            <td colspan="5">
                              <p>
                                  <strong>Wat ging er goed?</strong> <br/>Lorem Ipsum Dolor Sit Amet <br/>
                                  <strong>Wat ging er niet goed?</strong> <br/>Lorem Ipsum Dolor Sit Amet <br/>
                                  <strong>Welke stappen ga je ondernemen?</strong> <br/>Lorem Ipsum Dolor Sit Amet <br/>
                              </p>
                            </td>
                          </tr>
                          <tr data-widget="expandable-table" aria-expanded="false">
                            <td>15-11-2021</td>
                            <td>Mentorgesprek</td>
                            <td>Mentor X</td>
                          </tr>
                          <tr class="expandable-body d-none">
                            <td colspan="5">
                              <p>
                                  <strong>Wat ging er goed?</strong> <br/>Lorem Ipsum Dolor Sit Amet <br/>
                                  <strong>Wat ging er niet goed?</strong> <br/>Lorem Ipsum Dolor Sit Amet <br/>
                                  <strong>Welke stappen ga je ondernemen?</strong> <br/>Lorem Ipsum Dolor Sit Amet <br/>
                              </p>
                            </td>
                          </tr>
                          <tr data-widget="expandable-table" aria-expanded="false">
                            <td>22-11-2021</td>
                            <td>Mentorgesprek</td>
                            <td>Mentor X</td>
                          </tr>
                          <tr class="expandable-body d-none">
                            <td colspan="5">
                              <p>
                                  <strong>Wat ging er goed?</strong> <br/>Lorem Ipsum Dolor Sit Amet <br/>
                                  <strong>Wat ging er niet goed?</strong> <br/>Lorem Ipsum Dolor Sit Amet <br/>
                                  <strong>Welke stappen ga je ondernemen?</strong> <br/>Lorem Ipsum Dolor Sit Amet <br/>
                              </p>
                            </td>
                          </tr>
                          <tr data-widget="expandable-table" aria-expanded="false">
                            <td>29-11-2021</td>
                            <td>Mentorgesprek</td>
                            <td>Mentor X</td>
                          </tr>
                          <tr class="expandable-body d-none">
                            <td colspan="5">
                              <p>
                                  <strong>Wat ging er goed?</strong> <br/>Lorem Ipsum Dolor Sit Amet <br/>
                                  <strong>Wat ging er niet goed?</strong> <br/>Lorem Ipsum Dolor Sit Amet <br/>
                                  <strong>Welke stappen ga je ondernemen?</strong> <br/>Lorem Ipsum Dolor Sit Amet <br/>
                              </p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
