<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <span class="brand-text font-weight-light">EdTech MMA</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
               <li class="nav-item">
                <a href="app/dashboard" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Home
                    </p>
                </a>
            </li>
                <li class="nav-item">
                    <a href="app/overview" class="nav-link">
                        <i class="nav-icon far fa-comments"></i>
                        <p>
                            Feedback
                            <span class="right badge badge-danger">Nieuw</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="app/collection" class="nav-link">
                        <i class="nav-icon fas fa-book-open"></i>
                        <p>
                            Verzameling
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
